<div style="">

    <div class="panel-body">
        <form name="form" class="form-horizontal" role="form" ng-submit="form.$valid && save()" novalidate>

            <div class="form-group"
                 ng-class="{'has-error': form.title.$dirty && form.name.$invalid, 'has-success': form.name.$dirty && form.name.$valid}">
                <label for="name" class="col-sm-2 control-label">物件名称</label>

                <div class="col-sm-6">
                    <input tooltip="中英文字符" type="text" class="form-control" id="name" name="name" placeholder="标题"
                           ng-model="goods.name" required maxlength="20">
                </div>
                <div class="col-sm-3">
                    <span>还能输入<span style="color: red">{{20 - goods.name.length}}</span>字</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">规格</label>

                <div class="col-sm-9">
                    <div style="margin-bottom: 10px;margin-top: 10px">
                        <button class="btn btn-default" ng-click="editItem()" type="button" style="border: 1px solid !important;">添加规格</button>
                    </div>
                    <div >
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th style="width: 100px">规格编号</th>
                                <th style="width: 100px">规格</th>
                                <th style="width: 100px">价格</th>
                                <th style="width: 100px">数量</th>
                                <th style="width: 100px">颜色</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="o in goods.items">
                                <td>
                                    <div style="margin-top: 6px">
                                        {{$index + 1}}
                                    </div>
                                </td>

                                <td class="text-eft">
                                    <span style="border:none;width:200px;overflow: hidden;text-overflow:ellipsis;" popover="{{o.size}}" popover-trigger="mouseenter" class="btn btn-default">{{o.size}}</span>
                                </td>
                                <td>{{o.price}}</td>
                                <td>{{o.quantity}}</td>
                                <td>{{o.color}}</td>
                                <td>
                                    <div style="margin-top: 6px">
                                        <a href="#" ng-click="editItem($index)" type="button">编辑</a>
                                        <a href="#" ng-click="removeItem($index)" type="button">删除</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">物件描述</label>

                <div class="col-sm-6">

                    <div>
                        <div class="sortable-row" sortable="sortableOptions" ng-model="resources" style="width:475px;">
                            <div ng-repeat="resource in resources" style="width:475px;" sortable-item>
                                <div ng-if="!resource.txt" ng-include="'partials/resource/resource_item.html'">
                                </div>
                                <div ng-if="resource.txt" ng-include="'partials/resource/resource_text.html'">
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default" style="border: 1px solid !important;" ng-disabled="resources.length>10" ng-click="selectResource()">
                        添加图片
                    </button>
                    <button type="button" class="btn btn-default" style="border: 1px solid !important;" ng-disabled="resources.length>10" ng-click="selectVideo()">
                        添加视频
                    </button>
                </div>
                <div class="col-sm-offset-3 col-sm-5">
                    <small><span class="help-block" style="color:#A94442">图片格式必须为：jpg或png</span></small>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">物件详情</label>

                <div class="col-sm-9">
                    <div id="content-editor" class="large-editor" ta-paste="stripFormat($html)"  text-angular ta-max-text="2000" name="goodsContent"
                         ta-toolbar="{{[['h1', 'appListItem'],['appInsertImage', 'appInsertVideo']]}}"
                         placeholder="2000字以内" ng-model="goodsContent"></div>
                    <span class="text-success" ng-show="form.goodsContent.$valid">{{articleContent | editorFilter:2000}}</span>
                    <span class="text-danger" ng-show="form.goodsContent.$invalid">已超过字数限制！</span>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{'has-error': form.hint.$dirty && form.hint.$invalid, 'has-success': form.hint.$dirty && form.hint.$valid}">
                <label for="hint" class="col-sm-3 control-label">温馨提示</label>

                <div class="col-sm-6">
                    <textarea tooltip="中英文字符" type="text" class="form-control" id="hint" name="hint" placeholder="温馨提示"
                              ng-model="goods.hint" required maxlength="500"></textarea>
                </div>
                <div class="col-sm-3">
                    <span>还能输入<span style="color: red">{{500 - goods.hint.length}}</span>字</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-11" style="text-align: center">
                    <button class="btn btn-default" style="border: 1px solid !important;" ng-disabled="uploading || form.$invalid" type="submit">
                        <i class="fa " ng-class="{'fa-check': !updating, 'fa-spinner fa-spin': updating}"></i>
                        保存
                    </button>
                    <button class="btn btn-default" style="border: 1px solid !important;" ng-click="cancel()">取消</button>
                </div>
            </div>

        </form>
    </div>

</div>
