<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>三联生活周刊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">

    <div class="row">

        <div class="col-xs-12 col-md-8 col-md-offset-2">

            <!--news start-->
            <div id="news">
                <div class="main_title">
                    <h1 style="text-align: center">
                        刘亦菲潮装现身机场 忠心粉丝追随求签名
                    </h1>
                    <small><span style="text-align: center" class="help-block">头像将显示在手机客户端</span></small>
                </div>
                <div class="main_msg">
                    <div class="time">
                        <span style="display: block;width:60%;">2014-10-20 18:59:23</span>
                    </div>
                    <div class="from" style="margin-top:5px;">
                        <span style="display: block;width:60%;">作者：admin1</span>
                    </div>
                </div>

                <div class="main_txt">
                    <img src="http://qmxt7894217894.qiniudn.com/5444e96eef45bf554b000026" style="width:100%;"/>

                    <p style="width:100%;margin-bottom: 5px;">这是描述</p>
                    <img src="http://qmxt7894217894.qiniudn.com/5444ea76ef45bf554b000027" style="width:100%;"/>

                    <p style="width:100%;margin-bottom: 5px;">这是描述</p>
                    <video style="width:100%;margin-bottom:10px;" type="video/mp4" src="http://qmxt7894217894.qiniudn.com/mp4_5444eb67ef45bf554b00002a"
                           poster="http://qmxt7894217894.qiniudn.com/img_5444eb67ef45bf554b00002a" controls="controls">
                        您的浏览器不支持 video 标签。
                    </video>
                    <br/>日前刘亦菲和母亲刘晓莉一起搭飞机到上海，在机场遭到忠实粉丝围堵，刘亦菲也很有耐心地一一为粉丝们签名。当天，刘亦菲穿着蓝色的拼接款外套，围着同色围巾，搭配牛仔裤，足蹬雪地靴，戴着黑超，女神范儿十足地走出闸口。刘晓莉堕后他几步，边走边接听电话。刘亦菲走出不远，就被熟知她行踪的粉丝发现，众人一哄而上，有的掏出手机拍照，有的求签名。不赶时间的刘亦菲痛快停下脚步，一一签名。随后，刘亦菲与母亲坐电梯下楼，登上保姆车遁去。
                </div>
            </div>
            <br/>
            <br/>
            <!--news end-->

        </div>

    </div>

</div>
</body>
</html>
