<form name="form" class="form-horizontal" role="form" novalidate >
    <div class="modal-header">
        <h5 class="modal-title">推荐至</h5>
    </div>
    <div class="modal-body">
        <div class="checkbox" ng-repeat="list in recommend" style="display: inline-block;margin-left: 10px">
            <label>
            <input type="checkbox" ng-checked="isChecked(list.id)"
                   ng-click="updateSelection($event,list.id)" />{{list.name}}
            </label>
        </div>

        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox" value=""  ng-model="recommend.home" ng-click="toggleSelection()">-->
                <!--首页Banner-->
            <!--</label>-->
            <!--<label>-->
                <!--<input type="checkbox" value=""  ng-model="recommend.feed" ng-click="toggleSelection()">-->
                <!--首页feed流-->
            <!--</label>-->
            <!--<label>-->
                <!--<input type="checkbox" value=""  ng-model="recommend.one" ng-click="toggleSelection()">-->
                <!--推荐位3-->
            <!--</label>-->
            <!--<label>-->
                <!--<input type="checkbox" value=""  ng-model="recommend.two" ng-click="toggleSelection()">-->
                <!--推荐位4-->
            <!--</label>-->
            <!--<label>-->
                <!--<input type="checkbox" value=""  ng-model="recommend.three" ng-click="toggleSelection()">-->
                <!--推荐位5-->
            <!--</label>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="form.$valid && save()">保存</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</form>
