<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">活动评论列表</h3>
        </div>

        <form class="navbar-form navbar-left" role="search" ng-submit="search()" style="width: 100%;padding-left: 0px;">
            <div class="form-group" style="float: right;margin-right: 70px;">
                <input type="text" placeholder="搜索评论内容" class="form-control" ng-model="grid.txt">
            </div>
            <button type="submit" class="btn mySearch"  style="position: absolute;right: 15px;width:70px;border: 1px #492824 solid !important;background-color: #FFFFFF">搜索</button>
        </form>
        <HR style="border:1" width="100%" SIZE=1>

        <table class="table table-striped table-bordered">
            <tr>
                <th>序号</th>
                <th>评论内容</th>
                <th>评论人</th>
                <th>被回复人</th>
                <th>活动名</th>
                <th>评论时间</th>
                <th width="100px">操作</th>
            </tr>
            <tr ng-repeat="o in data.data">
                <td>{{$index + 1}}</td>
                <td>
                    <div style="position: relative; display: inline-block;">
                        <img ng-show="o.image.length > 0" pop-img style="width: 40px; height: 40px;" ng-src="{{o.image.length > 0 ? o.image[0].url + '?imageView2/0/w/40' : ''}}">
                        <img ng-show="o.image.length > 0" style="width:420px;position:absolute;left:-440px;top:0;z-index:1000;display:none" ng-src="{{o.image.length > 0 ? o.image[0].url + '?imageView2/0/w/420' : ''}}">
                    </div>
                    <span style="border:none;width:150px;overflow: hidden;text-overflow:ellipsis;" popover="{{o.text}}" popover-trigger="mouseenter" class="btn btn-default">{{o.text}}</span>
                </td>
                <td>{{o.user.nick}}</td>
                <td>{{o.replyUser.nick}}</td>
                <td>{{o.activity.name}}</td>
                <td>{{o.ct | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td width="160px">
                    <button class="btn btn-primary btn-xs" ng-click="view($index)">查看活动</button>
                    <button class="btn btn-danger btn-xs" ng-click="del($index)">删除</button>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <pagination
                    total-items="data.total" ng-model="grid.page"
                    items-per-page="data.size" class="pagination-sm" boundary-links="true"
                    max-size="12" rotate="true"
                    previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页">
            </pagination>
        </div>
    </div>
</div>
</body>
</html>
