<div class="modal-body">
    <form class="navbar-form navbar-left" role="search">
        <a ng-click="showCmt(currentIndex, true)" class="btn btn-primary glyphicon glyphicon-plus">添加精华评论</a>
    </form>
    <table class="table table-striped table-bordered">
        <tr>
            <th style="width:60px;">序号</th>
            <th>评论内容</th>
            <th>评论人</th>
            <th style="width: 90px;">被回复人</th>
            <th style="width: 130px;">评论时间</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="o in article.comments">
            <td>{{$index + 1}}</td>
            <td><span style="border:none;width:120px;overflow: hidden;text-overflow:ellipsis;" popover="{{o.text}}" popover-trigger="mouseenter"
                      class="btn btn-default">{{o.text}}</span></td>
            <td><span style="border:none;width:120px;overflow: hidden;text-overflow:ellipsis;" popover="{{o.user.nick}}" popover-trigger="mouseenter" class="btn btn-default">{{o.user.nick}}</span>
            </td>
            <td><span ng-if="o.replyUser.nick" style="border:none;width:90px;overflow: hidden;text-overflow:ellipsis;" popover="{{o.replyUser.nick}}" popover-trigger="mouseenter"
                      class="btn btn-default">{{o.replyUser.nick}}</span></td>
            <td>{{o.ct | date:"yyyy-MM-dd HH:mm:ss"}}</td>
            <td>
                <div style="margin-top: 6px">
                    <button class="btn btn-primary btn-xs" ng-click="removeRecommendComment(o)">取消精华</button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">关闭</button>
</div>
