<div class="col-md-12 setting">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">选择发布地址</h3>
        </div>


        <iframe src="partials/map_iframe.html" frameborder="0" width="100%" scrolling="no" height=465 id="myIFrame"></iframe>


        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">确定</button>
            <button class="btn btn-default" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
