<div class="modal-header">
    <!--<h5 class="modal-title"><img src="./img/close.png" style="width: 25px;float: right;margin-top: -8px;margin-right: -5px;"></h5>-->
</div>
<div class="modal-body">
    <p class="text-center">{{txt}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" style="width:120px;height: 44px">确定</button>
    <button class="btn btn-default" style="border: 1px solid !important;width:120px;height: 44px;margin-left: 13px;" ng-click="cancel()">取消</button>
</div>