<div class="modal-header">
    <h5 class="modal-title">选择活动</h5>
</div>
<div class="modal-body">
    <form class="navbar-form navbar-left" role="search" ng-submit="search()" style="width: 100%;margin-top: -10px;padding-left: 0px;">

        <div class="form-group" style="float: right;margin-right: 70px;">
            <input type="text" class="form-control" ng-model="grid.name">
        </div>
        <button type="submit" class="btn mySearch"  style="position: absolute;right: 15px;width:70px;border: 1px #492824 solid !important;background-color: #FFFFFF">搜索</button>
    </form>
    <table class="table table-striped table-bordered">
        <tr>
            <th>选择</th>
            <th>活动名称</th>
            <th style="width:120px;">状态</th>
        </tr>
        <tr ng-repeat="o in data.data">
            <td><input type="checkbox" ng-checked="ids.indexOf(o.id) > -1" ng-click="toggleSelection(o.id)"></td>
            <td class="text-eft">
                <span style="border:none;width:200px;overflow: hidden;text-overflow:ellipsis;" popover="{{o.name}}" popover-trigger="mouseenter"
                      class="">{{o.name}}</span>
            </td>
            <td ng-class="{2: 'state-danger', 0: 'state-push' ,1:'state-pushed'}[o.status]">
                <div style="margin-top: 6px">
                    {{o.status | activityStatus}}
                </div>
            </td>
        </tr>
    </table>
    <div class="text-center">
        <pagination
                total-items="data.total" ng-model="grid.page"
                items-per-page="data.size" class="pagination-sm" boundary-links="true"
                max-size="8" rotate="true"
                previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页">
        </pagination>
    </div>
</div>
<div class="modal-footer">
    <span ng-if="ids.length > max_activities" style="color:#A94442">最多选择{{max_activities}}个活动</span>
    <button ng-disabled="ids.length > max_activities" class="btn btn-primary" ng-click="ok()">确定</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>
