<div style="">

    <div class="panel-body">
        <form name="form" class="form-horizontal" role="form"novalidate>

            <div class="form-group">
                <label class="col-sm-2 control-label">文章摘要</label>

                <div class="col-sm-10">
                    <div style="margin-top: -6px">
                        <div id="this-editor" class="large-editor" ta-paste="stripFormat($html)" text-angular ta-max-text="20000" name="desc"
                             ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
		                                  ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
		                                  ['justifyLeft','justifyCenter','justifyRight','indent','outdent'],
		                                  ['appInsertImage', 'appInsertVideo', 'appInsertAudio', 'appMediaDesc']]"
                             placeholder="20000字以内" ng-model="text"></div>
                        <span class="text-success" ng-show="form.desc.$valid">{{article.desc | editorFilter:20000}}</span>
                        <span class="text-danger" ng-show="form.desc.$invalid">已超过字数限制！</span>
                    </div>
                </div>
            </div>

            <div>
                <button class="btn btn-primary" ng-click="ok()">保存</button>
            </div>
        </form>
    </div>

</div>
